body {
    width: 100;
    margin: 0;
    padding: 0;
    background: #fff;
}

.search-result {
    background: #6D9BF1;
    background-size: 100%;
}
.text {
    font-size: 30px;
    line-height: 36px;
    color: #fff;
}
.input-group, .result {
    margin-top: 40px
}
.result-par {
    margin-top: 10px
}
.poli-image {
    margin-top: 50px;
    margin-left: 150px
}
.headin {
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
    display: flex;
    flex-wrap: wrap;
   
}

.lorem {
    margin-left: 20px;
    font-size: 20px; 
    font-weight: bold;
    line-height: 24px;
}

}
.nav-link {
    border: 1px solid #6D9BF1;
    -webkit-text-fill-color: #fff;
    background: #6D9BF1;
    font-size: 30px;
    line-height: 35px;
    width: 150px;
    text-align: center
} 
.nav-link:hover {
    text-decoration: none;
    opacity: 0.7;
    color: #fff;
}
#logimg {
    margin-left: 50px
}

#prof {
    color: #000;
    text-align: center; 
    border-bottom:  4px solid #6D9BF1;  
}
#post {
    color: #000;
    text-align: center; 
    
}
#prof:hover, #post:hover {
    text-decoration: none;
    opacity: .7;
}


#footer {
	background-color: #6d9bf1;
	margin-top: 3%;
	width: 100%;
	
}

.links {
	padding-top: 20px;
}

.quick-links li {
	list-style-type: none;
	padding-top: 10px;
}

.quick-links li:first-child {
	color: #ffffff;
	padding-bottom: 10px;
	font-weight: bold;
}

.quick-links li a {
	color: #ffffff;
	text-decoration: none;
}

.social-links a span {
	color: #ffffff;
	letter-spacing: 120px;
	padding-left: 2%;
}

#main > p {
	padding-top: 20px;
	color: #6d9bf1;
	font-size: 15px;
	text-align: ju;
}
#main > p {
	padding-top: 20px;
	color: #6d9bf1;
	font-size: 20px;
}

#footer p {
	color: #ffffff;
	font-size: 12px;
}

#footer h3 {
	color: #fff;
}

@media only screen and (min-width: 768px) {
	h1 {
		font-size: 30px;
	}
	#footer {
		width: 100%;
	}
	.social-links a span {
		text-align: center;
		letter-spacing: 100px;
    }
}

@media only screen and (max-width: 768px) {
	h1 {
		font-size: 30px;
	}
	#footer {
		margin-top: 100px;
		padding-top: 70px;
		height: 600px;
		width: 100%;
	}
	.social-links a span {
		text-align: center;
		letter-spacing: 150px;
  }
}

.social-link ul {
	list-style-type: none;
}

.social-link li {
	display: inline-block;
	padding-left: 20px;
	text-align: center;
}
.social-link span {
	color: #fff;
}


/* Responsive styling */
@media screen and (max-width: 600px) {
	h1 {
		font-size: 30px;
	}
	#footer {
		margin-top: 100px;
		padding-top: 10px;
		height: 600px;
		width: 100%;
	}
	.social-links a span {
		letter-spacing: 120px;
	}
}





