

    html{
	margin: 0;
	padding: 0;
	--sidebar-width: 18vw;
}
   body{
     padding:0;
    margin:0;
    background-color: #E9EDFA;
     flex-wrap: nowrap; 
     overflow-x: visible;
}
li{
    list-style: none;

}
:any-link{
    text-decoration: none;
}
.admin-main-general > header
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 20px;
	padding: 0.2rem 20px;
}
.admin-main-general > header .icon-div img
{
	margin-right: 0.2rem;
}
.admin-main-general > header .icon-div span
{
	font-weight: 900;
	font-size: 30px;
}
.admin-main-general > header #user-div
{
	display: flex;
	flex-direction: row;
	height: 100%;
}
.admin-main-general > header #name-plate
{
	align-self: center;
	margin-right: 1rem;
}

#admin-sidebar-general
{
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: var(--sidebar-width);
	background-color: #E9EDFA; 
	padding-top: 5rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	z-index: 5;
	font-size: 17px;
}
#admin-sidebar-general .icon-div
{
	display: none;
}
#admin-sidebar-general .icon-div img
{
	margin-right: 0.2rem;
}
#admin-sidebar-general .icon-div span
{
	font-weight: 900;
	font-size: 30px;
}
#admin-sidebar-general .sidebar-links
{
	margin: 0.2rem 1rem;
	padding: 0.3rem 1.5rem;
	display: block;
	align-self: flex-start;
	transition: 0.4s ease-out;
}
#admin-sidebar-general .sidebar-links:hover
{
	color: blue;
}
#admin-sidebar-general .sidebar-active-link
{
	color: rgb(220, 230, 245);
	background-color: #6D9BF1; /*darkblue;*/
	align-self: stretch;
}
#mobile-bars 
{
    position: fixed;
    left: -35vw;
    top: 3vh;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.7);
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
.stix 
{
    border-radius: 3px;
    height: 3px;
    width: 30px;
    background-color: dimgray;
    margin: 5px 0;
    transition: 0.4s ease;
}
#mobile-bars-check 
{
    display: none;
}


#admin-main #intro
{
	font-weight: 100;
	text-align: center;
    color: rgba(0, 0, 0, 0.8);
    flex-wrap: nowrap; 
    width: 100%;
    flex-wrap: nowrap; 
    overflow-x: hidden;
}


.center-main{
    background-color: white;
    margin-left:3em;
    flex-wrap: nowrap; 
    width: 100%;
    flex-wrap: nowrap; 
    overflow-x: hidden;
   
}

.sitename{
    font-size:22px;
    font-weight:bold;
    color:#000000;
}
.poli{
    color:#6A9AD1;
}
.hello{
    padding-left:60em;
}
.forms{
    margin-left:13em;
    line-height:200%;
}
.heavy-weight{
    padding-left: 10px;
    font-weight: bold;
    color:#000;
}
.label{
    font-weight: lighter;
    color:#6A9AD1;
}
#field2{
    margin-top:3%;
    padding-left:6%;
    height: auto;
    
}
#field1{
    margin-top:3%;
    padding-left:6%;
    height: auto;
}
.bluebutton{
    color:white;
    width:10%;
    height:4%;
    background-color:#6A9AD1;
    margin-top:2%;
    margin-bottom:2%;
}

.profimg{
    margin-left:2%;
    border:1px solid lightgray;
    border-radius: 50%;
    padding:0.5%;
}
a{
    color:#6A9AD1;
}

.input-field{
    width:16em;
    height:1.3em;
    font-size:1em;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}
.first{
    flex:1;  
}
.container1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.first{
    flex:1;
}
.container3{
    padding-left: 14em;
    display: flex;  
    flex-wrap: wrap; 
}
.bottomlink{
    flex:1;
}



@media screen and (max-width: 990px){
   
   
        .center-main{
        margin-top:0px;
        margin-left:5em;
        }
        .sitename{
            font-size:12px;
            font-weight:bold;
            color:#000000;
        }
        .poli{
            color:#6A9AD1;
        }
        .hello{
            text-align: end;
        }
        .forms{
            margin-left:8em;
            line-height:200%;
        }
        .heavy-weight{
            padding-left: 30px;
            font-weight: bold;
            color:#000;
        }
        .bluebutton{
            color:white;
            width:15%;
            height:4%;
            background-color:#6A9AD1;
            margin-top:2%;
            margin-bottom:2%;
    }
    
    .input-field{
        width:9em;
        height:1.5em;
        font-size:0.7em;
    }
    #field2{
        margin-top:3%;
        padding-left:2%;
    }
    #field1{
        margin-top:3%;
        padding-left:2%;
    }
    .forms{
        margin-left:3em;
        line-height:200%;
    }
    .label{
        padding-left: 0px;
        font-size:9px;
        color:#6A9AD1;
    }
    
}