* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Lato', sans-serif;
}

.logo img {
	width: 120px;
}

.navbar p {
	font-size: 1.6rem;
	color: #6d9bf1;
}

.menu a {
	font-size: 1rem;
	color: #6d9bf1;
}

.menu li {
	padding-left: 2.5rem;
}

.fa-bars {
	color: #000000;
}

.button-signup {
	background-color: #6d9bf1;
	border: none;
	box-shadow: none;
	color: #ffffff;
	padding: 6px;
	font-size: 1rem;
	width: 150px;
	margin-left: 2.5rem;
}

h1 {
	margin-left: 23%;
	color: #213dcd;
	margin-bottom: 50px;
}

#footer {
	background-color: #6d9bf1;
	margin-top: 3%;
	width: 100%;
}

.links {
	padding-top: 20px;
}

.quick-links li {
	list-style-type: none;
	padding-top: 10px;
}

.quick-links li:first-child {
	color: #ffffff;
	padding-bottom: 10px;
	font-weight: bold;
}

.quick-links li a {
	color: #ffffff;
	text-decoration: none;
}

.social-links a span {
	color: #ffffff;
	letter-spacing: 120px;
	padding-left: 2%;
}

#main > p {
	padding-top: 20px;
	color: #6d9bf1;
	font-size: 15px;
	text-align: ju;
}
#main > p {
	padding-top: 20px;
	color: #6d9bf1;
	font-size: 20px;
}

#footer p {
	color: #ffffff;
	font-size: 12px;
}

#footer h3 {
	color: #fff;
}

#showcase {
	background-image: url(https://res.cloudinary.com/ufonumo/image/upload/v1571835995/photo-1531206715517-5c0ba140b2b8_l0vc2u.jpg);
	min-height: 100px;
	margin-bottom: 20px;
	text-align: center;
	background-position: center;
	background-repeat: no-repeat;
	padding-bottom: 4%;
	background-size: 100%;
}
.contain h1 {
	font-size: 60px;
	line-height: 2em;
	padding-top: 100px;
	text-align: center;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	padding-right: 20%;
	color: #ffffff;
}

#main {
	float: left;
	width: 45%;
	padding: 0 90px;
	box-sizing: border-box;
	background: white;
	color: #6d9bf1;
	font-size: 20px;
	margin-top: 6%;
}

/* the donation form */

#sidebar {
	float: right;
	width: 55%;
	background: white;
	padding: 0 30px;
	box-sizing: border-box;
}

h3 {
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: #000000;
}

.been {
	padding: 2em 1em;
	margin: 2em;
	background-color: #fff;
	text-align: center;
	color: white;
	height: 300px;
	border: 1px solid #6d9bf1;
	box-sizing: border-box;
	border-radius: 5px;
}

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border: 1px solid #6d9bf1;
	box-sizing: border-box;
	border-radius: 10px;
	align-content: space-between;
	flex-basis: 100%;
	padding: 1em 4em;
	margin-top: 10%;
	padding-bottom: 20px !important;
}

.flex-container div {
	background-color: #6d9bf1;
	color: white;
	width: 100px;
	margin: 40px;
	text-align: center;
	line-height: 60px;
	font-size: 30px;
}

.lex {
	color: #7e7e7e !important;
	width: 100px;
	margin: 40px;
	margin-top: 60px;
	padding-bottom: 20px !important;
	background-color: white !important;
	text-align: center;
	line-height: 60px;
	font-size: 30px;
	box-sizing: border-box !important;
	border-radius: 2px !important;
	border: 1px solid #6d9bf1 !important;
}

.btn {
	border-radius: 2px !important;
	background-color: black !important;
	color: white !important;
	width: 50%;
	text-align: center;
	display: flex;
	justify-content: center !important ;
	align-items: center !important;
	flex-grow: 8;
	padding-bottom: 10px !important;
}

.btn:hover {
	background-color: rgb(29, 180, 250);
}

div img {
	display: flex;
	flex-grow: 8;
	flex-wrap: wrap;
}

.row img {
	display: flex;
	justify-content: flex-end;
	padding-left: 55%;
	margin-top: 9%;
}
.social-link ul {
	list-style-type: none;
}

.social-link li {
	display: inline-block;
	padding-left: 20px;
	text-align: center;
}
.social-link span {
	color: #fff;
}
/* Responsive styling */
@media screen and (max-width: 600px) {
	h1 {
		font-size: 30px;
	}
	#footer {
		margin-top: 100px;
		padding-top: 10px;
		height: 600px;
		width: 100%;
	}
	.social-links a span {
		letter-spacing: 120px;
	}
}

@media (max-width: 600px) {
	#main {
		width: 100%;
		float: none;
		font-size: 15px;
	}
	#sidebar {
		width: 100%;
		float: none;
	}

	#showcase {
		background-image: url(https://res.cloudinary.com/ufonumo/image/upload/v1571835995/photo-1531206715517-5c0ba140b2b8_l0vc2u.jpg);
		min-height: 100px;
		margin-bottom: 20px;
		text-align: center;
		padding-top: 20%;
		background-position: center;
		background-repeat: no-repeat;
		padding-bottom: 4%;
		background-size: 100%;
	}
	.contain h1 {
		font-size: 28px;
		line-height: 1em;
		padding-top: 100px;
		text-align: center;
	}

	h3 {
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: #000000;
	}

	.been {
		padding: 2em 1em;
		margin: 2em;
		background-color: #fff;
		text-align: center;
		color: white;
		height: 300px;
		border: 1px solid #213dcd;
		box-sizing: border-box;
		border-radius: 5px;
	}

	.flex-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		border: 1px solid #213dcd;
		box-sizing: border-box;
		border-radius: 10px;
		align-content: space-between;
		flex-basis: 100%;
		padding: 2em 6em;
		margin-top: 10%;
		padding-bottom: 20px !important;
	}

	.flex-container div {
		background-color: #213dcd;
		color: white;
		width: 100px;
		margin: 20px;
		text-align: center;
		line-height: 40px;
		font-size: 20px;
	}

	.lex {
		color: #7e7e7e !important;
		width: 100px;
		margin: 60px;
		margin-top: 40px;
		padding-bottom: 20px !important;
		background-color: white !important;
		text-align: center;
		line-height: 20px !important;
		font-size: 20px;
		box-sizing: border-box !important;
		border-radius: 2px !important;
		border: 1px solid #213dcd !important;
	}

	.btn {
		border-radius: 2px !important;
		background-color: black !important;
		color: white !important;
		width: 50%;
		text-align: center;
		display: flex;
		justify-content: center !important ;
		align-items: center !important;
		flex-grow: 8;
		padding-bottom: 10px !important;
	}

	.btn:hover {
		background-color: rgb(29, 180, 250);
	}

	div img {
		display: flex;
		flex-grow: 8;
		flex-wrap: wrap;
	}

	.row img {
		display: flex;
		justify-content: flex-end;
		padding-left: 12%;
		margin-top: 9%;
	}
}

/* Responsiveness for  Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	h1 {
		font-size: 30px;
	}
	#footer {
		width: 100%;
	}
	.social-links a span {
		text-align: center;
		letter-spacing: 100px;
	}

	.row img {
		display: flex;
		justify-content: flex-end;
		padding-left: 55%;
		margin-top: 10%;
	}
}

@media only screen and (max-width: 768px) {
	h1 {
		font-size: 30px;
	}
	#footer {
		margin-top: 100px;
		padding-top: 70px;
		height: 600px;
		width: 100%;
	}
	.social-links a span {
		text-align: center;
		letter-spacing: 150px;
	}

	.row img {
		display: flex;
		justify-content: flex-end;
		padding-left: 24%;
		margin-top: 10%;
	}

	.flex-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		border: 1px solid #213dcd;
		box-sizing: border-box;
		border-radius: 10px;
		align-content: space-between;
		flex-basis: 100%;
		padding: 2em 6em;
		margin-top: 15%;
		padding-bottom: 20px !important;
	}

	.flex-container div {
		background-color: #213dcd;
		color: white;
		width: 100px;
		margin: 20px;
		text-align: center;
		line-height: 40px;
		font-size: 20px;
	}
}
