.join-team, .join-us, .jobs{
    display: flex;
    border: 1px solid transparent;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: lato;
    padding: 20px;
}
.join-team{
    background: #6d9bf1;
    margin-bottom: 20px;
    text-align: center;
}
.jobs{
    text-align: center;
}
.join-team p{
    margin-top: 20px;
}
.join-us{
    text-align: center;
}
/*.benefits{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-top: 40px;
}*/
.benefits-one{
    display: flex;
    border: 1px solid transparent;
    width: 75%;
}
.column{
    flex: 25%;
    padding: 5px;
    margin-left: 150px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.column-one{
    flex: 25%;
    padding: 5px;
    margin-left: 250px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.column-one span{
    margin-top: 20px;
}
img{
    margin-top: 8px;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}
hr{
    border: 1px solid black;
    width: 85%;
}
.positions{
    margin-top: 50px;
    padding: 20px;
    border: 1px solid transparent;
}
/* .form-style {
	margin:30px auto;
	max-width: 400px;
    padding: 20px 20px 20px 20px;
}
.check{
    border: 2px solid transparent;
}
h3{
    text-align: center;
}
.form-style li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form-style label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
.form-style input[type=text], 
.form-style input[type=date],
.form-style input[type=datetime],
.form-style input[type=number],
.form-style input[type=search],
.form-style input[type=time],
.form-style input[type=url],
.form-style input[type=email],
textarea, 
select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;	
}
.form-style input[type=text]:focus, 
.form-style input[type=date]:focus,
.form-style input[type=datetime]:focus,
.form-style input[type=number]:focus,
.form-style input[type=search]:focus,
.form-style input[type=time]:focus,
.form-style input[type=url]:focus,
.form-style input[type=email]:focus,
.form-style textarea:focus, 
.form-style select:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
.form-style .field-divided{
	width: 49%;
}

.form-style .field-long{
	width: 100%;
}
.form-style .field-select{
	width: 100%;
}
.form-style .field-textarea{
	height: 100px;
}
.form-style input[type=submit], .form-style-1 input[type=button]{
	background: #6d9bf1;
	padding: 8px 15px 8px 15px;
	border: none;
    color: #ffebef;
}
.form-style input[type=submit]:hover, .form-style-1 input[type=button]:hover{
	background: #6d9bf1;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.form-style .required{
	color:red;
} */
@media screen and (min-width: 300px) and (max-width: 1024px) {
    .benefits-one{
        width: 100%;
    }
    .column{
        flex: 50%;
    }
    .column-one{
        flex: 50%;
        text-align: center;
    }
    .column-one span{
        margin-top: 20px;
    }
    img{
        margin-top: 8px;
        vertical-align: middle;
        max-width: 100%;
        height: auto;
    }
}