html {
  box-sizing: border-box;
}
body {
 font-family: 'Nunito', segoe UI, sans-serif;
}
header #nav-logout
{
  font-weight: bolder;
}
header .logo img 
{
  width: 150px;
}

header .navbar p 
{
  font-size: 2rem;
  color:  #6D9BF1;
}

header .menu .nav-link 
{
  font-size: 1.1rem;
  color:  rgba(0, 0, 0, 0.7);
}
header .menu #nav-register
{
  background-color: #1257AE;
  align-self: center;
  color: white;
  padding: 0.4rem 1.5rem;
}

header .menu li 
{
  margin-left: 2.2rem;
}

header .fa-bars 
{
  color: #000000;
}
.heading {
  font-size: 2.25rem;
  margin-left: 25px;
  margin-bottom: 20px;
  font-weight: 700;
}

#forgot-form {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#forgot-form #forgotemail {
  /* border: 1px solid #213dcd; */
  height: 55px;
  margin-bottom: 25px;
  border-radius: 0;
}
#signup-link {
  text-decoration: underline;
  color: #1257AE;
}

.btn-blue {
  background-color: #1257AE;
}

.btn-blue:hover {
  background-color: rgb(105, 145, 219);
}
#submit {
  border-radius: 0;
}

@media (max-width: 585px) {
  .form-container {
    width: 99%;
    margin-left: auto;
    margin-right: auto;
  }

  #forgot-form {
    width: 99%;
  }
}

@media (max-width: 450px) {
  .heading {
    font-size: 35px;
  }
}

@media (max-width: 860px)
{
  header .menu
  {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 1rem;
  }
  header .menu .nav-link
  {
    font-size: 1rem;
    padding: 0.3rem 1rem;
  }
  header .menu #nav-register
  {
    padding: 0.3rem 1rem;
  }
  header .menu li 
  {
    margin-left: 0.5rem;
  }
}