@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
*{
	margin: 0;
	padding: 0; 
	box-sizing: border-box;
}
body{
	font-size: 10px;
	font-family: Lato;
}
a{
	text-decoration: none;
	color: #fff;
}
.navbar img {
    width: 150px;
}
#sign-up{
margin-right:0px !important;
background-color: #6d9bf1;
    color: #ffebef;
}
.navbar ul li a {
    margin: 0 20px;
    /* font-family: Lato; */
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 48px;
    color: #6d9bf1;
}

.nav-link {
    color: #6d9bf1!important;
}

.active {
    border-radius: 0%;
    padding: 0 30px;
    background-color: #6d9bf1;
}
.heading{
	margin-bottom: 5rem;
	text-align: center;
	color: #111;
	margin-left:0px;
}
.card-wrap{
text-align: center;
margin:0px 20px;
width:100%;
}
.card{
	background-color: #E9ECFB;
	margin: 0 0;
	box-shadow: 3px 3px 5px rgb(201, 197, 197);
}
.profile-img{
	width: 15rem;
	height: 15rem;
	object-fit: cover;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
}
.card h3{
	font-size:25px;
	color: #111;
	margin: 1.5rem 0;
}
.title{
	color: #111;
	font-size: 1.5rem;
	font-weight: 300;
}
.social-media{
	width: 100%;
	list-style: none;
	display: inline-flex;
	justify-content: center;
	padding: 2rem 0;
	margin-top: 1.5rem;
	border-top: 1px solid #6d9bf1;
}
.social-media i{
	font-size: 3rem;
	padding: 2rem;
}
.fa-facebook-square{
	color: #3b5999;
}
.fa-twitter-square{
	color: #55acee;
}
#footer{
             background: #6D9BF1 !important;
  }
  .social-links h3 {
  font-size: 1rem;
  line-height: 1.5;
}
@media screen and (min-width:700px){
	.card-wrap{
		text-align: center !important;
		margin:20px 20px !important;
		width:100% !important;
	}
	.card{
		margin-top:10px !important;
		margin-bottom: 10px !important;
		padding:20px 0px !important;
	}
}
