body{
    font-family: 'lato', sans-serif;
}

header{
    text-align: center;
}
.first-article{
    margin-top: 0;
}
article{
    margin: 20px;
    margin-top: 50px;
}
.article-header{
    font-weight: bold;
    color: #6d9bf1;
    font-size: 1.5rem;
}


.eclipse-row{
    padding-left: 80px;
}

.eclipse{
    width: 15px;
    height: 15px;
    display: block;
    margin-bottom: 50px;
    margin-left: 10px;
}
.step{
    font-weight: bold;
    color: rgba(0,0,0,0.7);
}
.number{
    color: #213DCD;
    font-weight: bold;
    padding-left: 5px;
    font-size: 1.3rem;
}
p{
    padding: 10px 0 10px;
    line-height: 35px;
}
.sign{
    margin-top: 10px;
}









#footer {
    background-color: #6d9bf1;
    margin-top: 200px;
    padding-top: 10px;
    height: 300px;
    width: 100%;
  }
  
  .links {
    padding-top: 20px;
  }
  
  .quick-links li {
    list-style-type: none;
    padding-top: 5px;
  }
  
  .quick-links li:first-child {
    color: #ffffff;
    padding-bottom: 10px;
    font-weight: bold;
  }
  
  .quick-links li a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .social-links a span {
    color: #ffffff;
    letter-spacing: 20px;
  }
  
  .copyright p {
    padding-top: 10px;
    color: #ffffff;
    font-size: 12px; 
  }
@media screen and (max-width: 768px) {
    h1 {
      font-size: 30px;
    }
    #footer {
      margin-top: 150px;
      padding-top: 10px;
      height: 450px;
      width: 100%;
   }
    .social-links {
      margin-left: 40px;
  }
}

@media screen and (max-width: 768px) {
    .input-group {
      width: 100%;
      margin-left: 12%;
  }
    .form-control {
      height: 50px;
      padding: 20px;
      border-radius: 0;
      border: 1px solid #213DCD;
  }
    .button-search {
      background-color: #213DCD;
      border: none;
      box-shadow: none;
      color: #ffffff;
      font-size: 1.2rem;
      padding: 1px;
      width: 80px;
  }
    .search-content {
      font-size: 1rem;
      width: 100%;
      margin-left: 13%;
      color: #676871;
      padding-top: 20px;
      font-weight: bold;
  }
}

@media screen and (max-width: 375px) {
  .input-group {
    width: 120%;
    margin-left: 4%;
  }

  .search-content {
    font-size: 1rem;
    width: 120%;
    margin-left: 8%;
    color: #676871;
    padding-top: 20px;
    font-weight: bold;
  }
}
